@layer base {
  :root {
    font-family: "Gothic A1", ui-sans-serif, system-ui, sans-serif;
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.375rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.625rem;
    line-height: 2.063rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
  }
  h5 {
    font-size: 1.063rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
  h6 {
    font-size: 0.938rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

@layer utilities {
  .text-h1 {
    font-size: 1.875rem;
    line-height: 2.375rem;
    font-weight: 700;
  }
  .text-h2 {
    font-size: 1.625rem;
    line-height: 2.063rem;
    font-weight: 700;
  }
  .text-h3 {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
  .text-h4 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 700;
  }
  .text-h5 {
    font-size: 1.063rem;
    line-height: 1.375rem;
    font-weight: 700;
  }
  .text-h6 {
    font-size: 0.938rem;
    line-height: 1.25rem;
    font-weight: 700;
  }

  .text-body-xl {
    font-size: 1.688rem;
    line-height: 2.125rem;
    font-weight: 400;
  }
  .text-body-lg {
    font-size: 1.5rem;
    line-height: 1.938rem;
    font-weight: 400;
  }
  .text-body-md {
    font-size: 1.313rem;
    line-height: 1.688rem;
    font-weight: 400;
  }
  .text-body-base {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
  }
  .text-body-sm {
    font-size: 0.875rem;
    line-height: 1.188rem;
    font-weight: 400;
  }
  .text-body-xs {
    font-size: 0.688rem;
    line-height: 1rem;
    font-weight: 400;
  }

  .text-display-xl {
    font-size: 4.4rem;
    line-height: 5.469rem;
    font-weight: 900;
  }
  .text-display-lg {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 900;
  }
  .text-display-md {
    font-size: 3.6rem;
    line-height: 4.5rem;
    font-weight: 900;
  }
  .text-display-base {
    font-size: 3.2rem;
    line-height: 4.031rem;
    font-weight: 900;
  }
  .text-display-sm {
    font-size: 2.8rem;
    line-height: 3.469rem;
    font-weight: 900;
  }
  .text-display-xs {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 900;
  }
}
